.cardGrid{
    margin: 2rem;
}
.card{
    text-align: center;
    margin: auto;
}
.error,.req{
    color: red;
}
.col-sm{
    display: inline;
    float: none;
    margin: 1rem;
}
.delete{
    margin-left: 1rem;
}
.addBookIMG{
    text-align: center;
}
.addBookIMG>img{
    max-width: 100%;
    max-height: 100%;
}
